<h1>My TO DO List</h1>

<div class="row tab-heads" style="text-align: center">
  <div class="col-xs-3">
    <h2>Task</h2>
  </div>
  <div class="col-xs-4">
    <h2>Description</h2>
  </div>
  <div class="col-xs-1">
    <h2>Category</h2>
  </div>
  <div class="col-xs-1">
    <h2>Priority</h2>
  </div>
  <div class="col-xs-1">
    <h2>Deadline</h2>
  </div>
  <div class="col-xs-2">
    <h2>Actions</h2>
  </div>
</div>

<% @tasks.each do |task| %>
  <div class="row tab-line">
    <div class="col-xs-3">
      <h3> <%= task.name %> </h3>
    </div>
    <div class="col-xs-4">
      <p><%= task.description %> </p>
    </div>
    <div class="col-xs-1" style="text-align: center">
      <p><%= task.category %> </p>
    </div>
    <div class="col-xs-1"  style="text-align: center">
      <p><%= task.priority %> </p>
    </div>
    <div class="col-xs-1" style="text-align: center">
      <p><%= task.deadline %> </p>
    </div>
    <div class="col-xs-1" style="text-align: center">
      <p><%= link_to "edit", edit_task_path(task.id) %> </p>
    </div>
    <div class="col-xs-1" style="text-align: center">
      <p><%= link_to "delete", task_path(task.id), method: :delete %> </p>
    </div>
  </div>
<% end %>
</ul>
<%= link_to "Add task", new_task_path  %>
